################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GRomash.CrmWebApiEarlyBoundGenerator/obj/Debug
/.vs/GRomash.CrmWebApiEarlyBoundGenerator/v16

*.suo
*.user
_ReSharper.*
bin
obj
packages